@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global or Component-specific CSS */
.toast-animation {
    animation: fadeInSlideIn 0.5s forwards;
  }
  
  @keyframes fadeInSlideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  